notifications:
  email: false

language: node_js

node_js: node
  # add addition versions as needed

services: postgreqsl

# start DB here and create user/password for travis
before_script:
  - psql -c 'CREATE DATABASE redidit;' -U postgres
  - psql -c 'CREATE USER redidit WITH PASSWORD "redidit";' -U postgres
  - psql -c 'ALTER USER redidit WITH SUPERUSER;' -U postgres

script:
  - npm run dev-react
  - npm run dev-server
  - sleep 10
  - npm run test