notifications:
  email: false

language: node_js

node_js:
  - "stable"
  # add addition versions as needed

services: postgreqsl

# start DB here and create user/password for travis
before_script:
  -psql -c 'create database redidit;' -U postgres
  -psql -c 'create user redidit with login password 'redidit;' -U postgres
  -psql -c 'alter role redidit with superuser;' -U postgres